# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Test and build artifacts
.pytest_cache/
*.log

# Data files (optional to ignore raw/large test outputs)
data/*.csv
data/*.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/
